<!doctype html>
<html>
<head>
  <title>Comandarr - Login</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="/static/sonarr-theme.css" type="text/css"> -->
  <!-- <link rel="stylesheet" href="/static/style.css" type="text/css"> -->
  <link rel="stylesheet" href="/static/css/logout.css" type="text/css">


  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="../static/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../static/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="../static/img/favicons/manifest.json">
  <link rel="mask-icon" href="../static/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Comandarr">
  <meta name="application-name" content="Comandarr">
  <meta name="theme-color" content="#ffffff">
</head>


<!-- <link rel="stylesheet" href="/static/style.css" type="text/css"> -->

{% block body %}
{% if session['logged_in'] %}
  <p>You're already logged in!</p>
{% else %}
  <div class="container">
    <div id="nav-region"></div>
  </div>
  <div id="page">
    <div class="page-container">
      <div class="container-fluid">
        <div class="container-fluid main-region" id="main-region">
          <div class="col-md-2 col-md-offset-5">
            <form name="login" id="login" action="/login" class="login" method="POST">
              <h2><img src="../static/img/logo-64.png" alt=""/ style="padding-right:15px;"> Comandarr</h2>
              <div class="form-group">
                <label for="username" class="sr-only">Email address</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
              </div>

              <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="rememberMe" checked="checked"> Remember me
                </label>
              </div>

              <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}
{% endblock %}


</html>
